{% extends 'main.html' %}
{% block content %}
<body>
<h1>Arceus</h1>
<h3>Arceus é conhecido pela sua habilidade Multitype,
    onde ele é capaz de mudar para qualquer tipo elemental
    usando suas placas, refletindo sua natureza como criador
    de todos os Pokémon. ... No universo Pokémon todos incluindo
    os humanos passariam a desaparecer, já na fanfic isso se limitaria
    apenas aos Pokémon.</h3>
</body>

<table>
    <tr>
        <th>Pokemon</th>
        <th>attack</th>
        <th>number</th>
    </tr>
    {% for pokemon in pokemons %}
    <tr>
        <td>{{pokemon.pokemon_name}}</td>
        <td>{{pokemon.attack}}</td>
        <td>{{pokemon.number}}</td>
        <td><a href="{% url 'update_pokemon' pokemon.id %}">Edit</a></td>
        <td><a href="{% url 'delete_pokemon' pokemon.id %}">Delete</a></td>
        <td><a href="{% url 'project' pokemon.id %}">View</a></td>
    </tr>

    {% endfor %}
</table>

{% endblock content %}